---
---
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="0;url=/fr/" />
  <title>Redirecting…</title>
  <script is:inline>
    (function() {
      var stored = localStorage.getItem('streicher-lang');
      var lang = stored || (navigator.language || '').split('-')[0];
      var supported = ['fr', 'en'];
      if (supported.indexOf(lang) !== -1) {
        window.location.replace('/' + lang + '/');
      } else {
        window.location.replace('/fr/');
      }
    })();
  </script>
</head>
<body>
  <p>Redirecting to <a href="/fr/">/fr/</a>…</p>
</body>
</html>
